# Ingoner les fichiers ~ de Emacs
*.vhd~
UART/#pkg_rs232\.vhd#

UART/\.#pkg_rs232\.vhd

UART/#rx_uart\.vhd#

UART/\.#rx_uart\.vhd

I2C/\.#pkg_i2c\.vhd

I2C/#pkg_i2c\.vhd#

I2C/\.#test_master_i2c\.vhd

I2C/~\$\$I2C_UART\.~vsdx

I2C/master_i2c\.vhd\.bak

SPI/#master_spi\.vhd#

SPI/\.#master_spi\.vhd

WS2812_manage/~\$\$ws2812_fsm\.~vsdx

WS2812_manage/#WS2812_mng\.vhd#

WS2812_manage/\.#WS2812_mng\.vhd

WS2812_manage/\.~lock\.Constants_timing\.ods#

WS2812_manage/~\$\$ws2812_block\.~vsdx

WS2812_manage/\.~lock\.ws2812_block - Copie\.vsdx#

UART/~\$\$FSM_UART\.~vsdx

UART/#top_test_uart\.vhd#

UART/\.#top_test_uart\.vhd

I2C/~\$\$I2C_fsm\.~vsdx

I2C/#i2c_slave\.vhd#

I2C/\.#i2c_slave\.vhd

ADC128S022/~\$\$adc128s022_block\.~vsdx

ADC128S022/adc_serial_control\.vhd

Makefile/Makefile~

Test/test\.vhd

I2C/24LC02B_controller/#master_i2c_24lc02b\.vhd#

UART/uart_pinball/#test_reg_ctrl.vhd#

WS2812_manage/sources/#pkg_ws2812.vhd#

MAX7219/MAX7219_WORK/lib_max7219/_info

*.qdb

MAX7219/MAX7219_WORK/lib_max7219/_vmake

*.qpg

*.qtl

MAX7219/MAX7219_WORK/lib_tb_top/_info

*.ini

*.wlf



Makefile/TOTO_WORK/lib_max7219/_info

Makefile/TOTO_WORK/lib_max7219/_vmake

Makefile/TOTO_WORK/lib_tb_top/_info

Makefile/TOTO_WORK/lib_testbench/_info

Makefile/TOTO_WORK/lib_testbench/_vmake
