# Ingoner les fichiers ~ de Emacs
*.vhd~
UART/#pkg_rs232\.vhd#

UART/\.#pkg_rs232\.vhd

UART/#rx_uart\.vhd#

UART/\.#rx_uart\.vhd

I2C/\.#pkg_i2c\.vhd

I2C/#pkg_i2c\.vhd#

I2C/\.#test_master_i2c\.vhd

I2C/~\$\$I2C_UART\.~vsdx

I2C/master_i2c\.vhd\.bak

SPI/#master_spi\.vhd#

SPI/\.#master_spi\.vhd

WS2812_manage/~\$\$ws2812_fsm\.~vsdx

WS2812_manage/#WS2812_mng\.vhd#

WS2812_manage/\.#WS2812_mng\.vhd

WS2812_manage/\.~lock\.Constants_timing\.ods#

WS2812_manage/~\$\$ws2812_block\.~vsdx

WS2812_manage/\.~lock\.ws2812_block - Copie\.vsdx#

UART/~\$\$FSM_UART\.~vsdx
